<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .LikeText{
        width: 50%;
        margin:auto;
        align-items: center;
      }
  
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
        <a class="navbar-brand" href="#" style="color: red;">EventBrite</a>
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand" href="#"></a>
        <img src="static/search.png" width="25" height="25">
        <a class="navbar-brand" href="#"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for events" aria-label="Search">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-5">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                {%  if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" >Hello {{user.username}} </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/login">Sign in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="/accounts/register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="/Destination">Add Event</a>
                </li>
              </ul>
              {% endif %}
           
          </form>
        </div>
      </nav>
      <!--Input Form --> 
      <div class="LikeText" >
        <H1>Likes</H1>
    </div>
    <div>
   

      {% for i in event %}
        
      
        
      <div class="card w-50" style="align-items: center; width: 50%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">{{i.event_name}}</h5>
          <p class="card-text">{{i.time}}</p>
          <p class="card-text">{{i.date}}</p>
          <p class="card-text">{{i.location}}</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
   
    {% endfor %}


   
      

   
</body>
</html>