<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .registerform{ width: 50%; align-items: center; margin: auto;padding-top: 100px;}
    </style>
</head>
<body>

    <div class="registerform">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">First Name</label>
          <input type="text" name="first_name" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">lastname</label>
            <input type="text" name="last_name" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
        </div> 
        <div class="form-group">
          <label for="exampleFormControlInput1">Username</label>
          <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="exampleFormControlInput1" placeholder="Confirm Password">
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
       


 
    <div>
        {% for message in messages %}
        <h3> {{message}}</h3>
        {% endfor %}
        
    </div>
</body>
</html>